<div class="container-fluid custom-margin-top">
  <div class="row d-flex justify-content-end">
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cerca clienti" aria-label="Cerca cliente" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="button" id="button-addon2" style="background: white; color: #0d6efd">Cerca</button>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <table class="table table-hover border">
        <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Indirizzo</th>
          <th scope="col" style="width: 9em"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
              <i class="bi bi-pencil-square p-2 pointer"></i>
              <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
              <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti </td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>Pearson</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry the Bird - 2</td>
          <td>Pearson</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Larry the Bird</td>
          <td>Surname</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Larry</td>
          <td>Surname</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Larry</td>
          <td>Surname</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Larry</td>
          <td>Surname</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Jack</td>
          <td>Pear</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Mike</td>
          <td>Buongiorno</td>
          <td>395 9th Ave, New York, NY 10001, Stati Uniti</td>
          <td>
            <i class="bi bi-pencil-square p-2 pointer" style="cursor: pointer"></i>
            <i class="bi bi-trash3 p-2 pointer" style="color: red"></i>
            <i class="bi bi-eye p-2 pointer" style="color: #0d6efd"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex justify-content-end">
    <nav style="width: auto">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Precedente</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">Successivo</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="m-4 add">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="color: #0d6efd">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
    </svg>
  </div>
</div>
