<div class="container mt-3">
  @if (showNotifications) {
    <div class="row d-flex justify-content-center mb-3">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{notification?.title}}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  }
</div>
<div class="container-fluid custom-margin-top-1rem">
  <div class="row d-flex justify-content-end mb-3">
    <app-search-filter [firstInputLabel]="'Nome'"
                       [secondInputLabel]="'Cognome'"
                       [thirdInputLabel]="'Indirizzo'"
                       (search)="search($event)"
                       (reset)="handleResetEvent()"
    >
    </app-search-filter>
  </div>
  <div class="row mt-1">
    <div class="col-12">
        <table class="table table-hover border">
          <thead class="table-dark">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Indirizzo</th>
            <th scope="col" style="width: 9em"></th>
          </tr>
          </thead>
          <tbody>
            @for (client of clients; track client.id) {
              <tr>
                <td>{{client.nome}}</td>
                <td>{{client.cognome}}</td>
                <td>{{client.indirizzo}}</td>
                <td>
                  <i class="bi bi-pencil-square p-2 pointer" (click)="viewClient(client.id, 'update')"></i>
                  <!-- trigger modal to delete user -->
                  <i class="bi bi-trash3 p-2 pointer" style="color: red" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="showModalEvent(client)"></i>
                  <i class="bi bi-eye p-2 pointer" style="color: #0d6efd" (click)="viewClient(client.id, 'view')"></i>
                </td>
              </tr>
            }
          </tbody>
        </table>
    </div>
  </div>
  @if (isPagesExist()) {
    <div class="row d-flex justify-content-end">
      <nav style="width: auto">
        <ul class="pagination">
          @if (getCurrentPage() > 1) {
            <li class="page-item"><button class="page-link" (click)="prevPage()">Precedente</button></li>
            <li class="page-item"><button class="page-link" (click)="prevPage()">{{getPreviousPage()}}</button></li>
          } @else {
            <li class="page-item disabled"><button class="page-link">Precedente</button></li>
          }
          <li class="page-item active"><button class="page-link">{{getCurrentPage()}}</button></li>
          @if (isCurrentPageTheLastOne()) {
            <li class="page-item disabled"><button class="page-link">Successivo</button></li>
          } @else {
            <li class="page-item"><button class="page-link" (click)="nextPage()">{{getNextPage()}}</button></li>
            @if (!isNextPageTheLastOne()) {
              <li class="page-item"><a class="page-link">...</a></li>
            }
            <li class="page-item"><button class="page-link" (click)="nextPage()">Successivo</button></li>
          }
        </ul>
      </nav>
    </div>
  }

</div>

<a
  class="btn btn-primary rounded-circle shadow-lg fab"
  aria-label="Crea nuovo cliente"
  data-bs-toggle="tooltip"
  title="Crea nuovo cliente"
  (click)="openNewClientPage()"
>
  <i class="bi bi-plus-lg"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sei sicuro di voler eliminare l'utente {{clientTheUserWantsToDelete()?.nome}} {{clientTheUserWantsToDelete()?.cognome}}??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <button type="button" class="btn btn-primary" (click)="deleteClient()">Elimina</button>
      </div>
    </div>
  </div>
</div>

