.sidebar-container {
  background-color: #343a40;
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: width 0.3s;

  &.collapsed {
    width: 80px;
  }

  .top-menu {
    height: 60px;
    padding: 0 10px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .side-menu {
    flex-grow: 1;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        background-color: #495057;
      }

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: #495057;
      }
    }
  }
}

