<div class="container-fluid custom-margin-top">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Cerca fornitore" aria-label="Cerca fornitore" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Cerca</button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Indirizzo</th>
          <th scope="col">Telefono</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>SDA</td>
          <td>Via antonio russo</td>
          <td>089 9987654</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>GLS</td>
          <td>Via Rusciano 44</td>
          <td>089 3345678</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>UPS</td>
          <td>Via Mario Rossi 12</td>
          <td>089 1111111</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
