/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-margin-top-1rem {
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.user {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  transition: background-color 0.3s ease;
}

.fab:hover {
  background-color: #0b5ed7; /* colore hover leggermente più scuro */
}
