/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.custom-margin-top-1rem {
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.user {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
